{* This is the welcome page, you can delete it *}

{block content}

<h3>a)</h3>
<pre>
    <?php print_r($a); ?>
</pre>
<h3>b)</h3>
<pre>
    <?php print_r($b); ?>
</pre>
<h3>c)</h3>
<pre>
    <?php print_r($c); ?>
</pre>